<% if @logged_user_currencies.present? %>
  <div class="container all_currencies_logged_user">
    <% @logged_user_currencies.each do |currency| %>
      <%= link_to controller: 'logged_user', id: currency[:id], action: 'index' do %>
        <div class="each_currency_logged_user">
          <h5><%= currency[:name] %></h5>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="container logged_user_chart">
    <%= line_chart @displayed_currency[:chart], min: @displayed_currency[:min]-@displayed_currency[:avg], max: @displayed_currency[:max]+@displayed_currency[:avg], title: @displayed_currency[:name], curve: false, colors: ['#9400D3']  %>
  </div>
<% else %>
  <p>No currencies yet :/</p>
<% end %>

<div class="row center-align add_currencies_btn">
  <%= link_to new_user_currency_path, :class => "waves-effect waves-light btn-large" do%>
    ADD CURRENCIES
    <i class="material-icons left">add</i>
  <% end %>
</div>
