<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi <%= @user.nick %>!</h3>
    <p>
    Check AlertWalutowy!</br>
    A currency <b><%= @cname.upcase %></b> reached selling price!<br>
    <h1><%= @cbid %></h1>
    <a href="www.google.pl">Check it!</a>
    </p>
  </body>
</html>