<div class="center-align">
  <h1>Select Currencies</h1>
</div>
<div class="container">
  <%= simple_form_for @user_currency, url: {action: "create"}  do |f| %>
    <div class="row">
      <% Currency.all.each do |currency| %>
        <div class="col m4 offset-m2">
          <p>
            <label>
              <%= check_box_tag currency.id, currency.id, current_user.currencies.include?(currency), :name => 'user[currency_ids][]' %>
              <span><%= currency.name.upcase %></span>
            </label>    
          </p>
        </div>
      <% end %>
    </div> 
    <div class="center-align">
      <%= submit_tag("Add currencies", :class => "waves-effect waves-light btn") %>
    </div>
  <% end %>
</div>