/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');

.notice{
  background-color: #00D1B2;
  margin: 0;
  padding: 8px;
}
.alert{
  background-color: #FF3860;
  margin: 0;
  padding: 8px;
}
body{
  background-color: #a7a7a7;
  font-family: 'Roboto Condensed', sans-serif;
}
.nav-wrapper{
  background-color: #30475e;
}
.brand-logo{
  padding-left: 10px !important;
}
.brand-logo-mobile{
  text-align: center;
}
.brand-logo-mobile h4{
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #30475e;
  color: white;
}
.brand-logo-mobile li{
  text-align: left;
  border-bottom: 1px solid black;
}
.every_value{
  margin-right: 8px;
}
.each_value{
  margin-bottom: 20px;
}
.curr_container{
  width: 100%;
}
#error_number{
  text-transform: uppercase ;
}
#error_list{
  padding-left: 10px;
}
#error_explanation{
  border: 2px solid red;
  border-radius: 5px; 
  text-align: center;
}
.no_currencies{
  margin-top: 70px;
}
.sidenav{
  background-color: #dddddd;
}
::-webkit-scrollbar {
  width: 0;  
  background: transparent; 
}
@media screen and (min-width: 840px){
  .home_container,
  .other_currencies{
    width: 70%;
    margin-left: 15%;
  }
}
@media screen and (max-width: 1276px){
  .main_currencies_col,
  .converter{
    width: 100% !important;
    // margin-left: 10% !important;
  }
  .main_currencies_col{
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1276px) {
  .converter,
  .main_currencies_col{
    width: 45% !important;
  }
  .converter{
    margin-left: 10% !important;
  }
}
.main_currencies_col{
  .row{
    display: flex;
    height: 33% !important;
    margin: 0;
    align-items: center;
    .col h4{
        margin: 0;
    }
  }

}
select{
  display: block;
}
.converter{
  padding-bottom: 22px !important;
    .btn{
      margin: 10px;
    }
    h4{
      margin: 0;
      padding-top: 10px;
    }
    .col{
      padding: 3px;
    }
}
.main_currencies_col,
.converter{
  color: white;
  background-color: #405c77;
  height: 350px;
  border: 1px solid black;
  border-radius: 20px;
}
.quantity_input{
  text-align: center;
}
.each_other_currency{
  font-size: 20px;
}
.converter_output{
  width: 100%;
  text-align: center;
}
#text_output{
  font-size: 25px;
  margin: 0;
}
#second_text_output{
  margin: 0;
}