/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');

.notice{
  background-color: #00D1B2;
  margin: 0;
  padding: 8px;
}
.alert{
  background-color: #FF3860;
  margin: 0;
  padding: 8px;
}
body{
  background-color: #dddddd;
  font-family: 'Roboto Condensed', sans-serif;
}
.nav-wrapper{
  background-color: #30475e;
}
.brand-logo{
  padding-left: 10px !important;
}
.every_value{
  margin-right: 8px;
}
.each_value{
  margin-bottom: 20px;
}
.curr_container{
  width: 100%;
}
#error_number{
  text-transform: uppercase ;
}
#error_list{
  padding-left: 10px;
}
#error_explanation{
  border: 2px solid red;
  border-radius: 5px; 
  text-align: center;
}
.no_currencies{
  margin-top: 70px;
}